<div class="hero-intro__style-1">
  <p class="hero-intro__style-2">Portfolio</p>

  <h1 class="hero-intro__style-3">
    Hi, I'm
    <span class="hero-intro__style-4">
      {{ name() }}
    </span>
  </h1>

  <h2 class="hero-intro__style-5">
    {{ role() }}
  </h2>

  <p class="hero-intro__style-6">
    {{ description() }}
  </p>

  <app-hero-skills [groups]="skills()" />

  <div class="hero-intro__style-7">
    <a mat-flat-button href="#projects" class="hero-intro__style-8"> View Projects </a>

    <a mat-stroked-button href="#contact" class="app-secondary-action hero-intro__style-9"> Contact Me </a>
  </div>
</div>
