<article class="group experience-card__style-1">
  <div class="experience-card__style-2"></div>

  <span class="experience-card__style-3"> 0{{ index() + 1 }} </span>

  <div class="experience-card__style-4">
    <div class="experience-card__style-5">
      <div class="experience-card__style-6">
        <div class="experience-card__style-7">
          <mat-icon>{{ experience().icon }}</mat-icon>
        </div>

        <div class="experience-card__style-8">
          <h3 class="experience-card__style-9">
            {{ experience().role }}
          </h3>

          <p class="experience-card__style-10">{{ experience().company }} - {{ experience().location }}</p>
        </div>
      </div>
    </div>

    <div class="experience-card__style-11">
      <app-shared-chip-button size="xs" variant="cyan" [label]="experience().type" />

      <app-shared-chip-button size="xs" variant="slate" [label]="experience().period" />
    </div>
  </div>

  <p class="experience-card__style-12">
    {{ experience().summary }}
  </p>

  <div class="experience-card__style-13">
    @for (skill of experience().skills; track skill.name) {
      <app-shared-chip-button size="sm" variant="cyan" [icon]="skill.icon" [label]="skill.name" />
    }
  </div>

  <ul class="experience-card__style-14">
    @for (highlight of experience().highlights; track highlight) {
      <li class="experience-card__style-15">
        <span class="experience-card__style-16"></span>
        <span>{{ highlight }}</span>
      </li>
    }
  </ul>
</article>
