$primary-palette: (
  0: #000,
  10: #001f25,
  20: #003640,
  25: #00434f,
  30: #00505e,
  35: #005d6d,
  40: #006b7d,
  50: #00879d,
  60: #00a4bd,
  70: #28c0d9,
  80: #5bdcf5,
  90: #b5ebf7,
  95: #dff6fb,
  98: #f2fcff,
  99: #f8fdff,
  100: #fff,
  secondary: (
    0: #000,
    10: #101d22,
    20: #253237,
    25: #303d42,
    30: #3b484e,
    35: #47545a,
    40: #536067,
    50: #6c7980,
    60: #86939a,
    70: #a0aeb5,
    80: #bcc9d1,
    90: #d8e5ed,
    95: #e6f3fb,
    98: #f4fbff,
    99: #fafcff,
    100: #fff,
  ),
  neutral: (
    0: #000,
    4: #091011,
    6: #0e1517,
    10: #171d1f,
    12: #1b2123,
    17: #252b2d,
    20: #2c3234,
    22: #303638,
    24: #353b3d,
    25: #373d3f,
    30: #42484a,
    35: #4e5456,
    40: #5a6062,
    50: #73797b,
    60: #8d9395,
    70: #a8adaf,
    80: #c3c8ca,
    87: #d8dddf,
    90: #dfe4e6,
    92: #e8edef,
    94: #eef2f4,
    95: #f1f5f7,
    96: #f4f8fa,
    98: #f8fbfd,
    99: #fbfdff,
    100: #fff,
  ),
  neutral-variant: (
    0: #000,
    10: #151d20,
    20: #293236,
    25: #343d41,
    30: #40484c,
    35: #4b5458,
    40: #576064,
    50: #70797d,
    60: #8a9397,
    70: #a4adb2,
    80: #c0c9cd,
    90: #dce5e9,
    95: #eaf3f7,
    98: #f3fbff,
    99: #f9fdff,
    100: #fff,
  ),
  error: (
    0: #000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #fff,
  ),
);
$tertiary-palette: (
  0: #000,
  10: #241534,
  20: #3a294b,
  25: #453456,
  30: #514062,
  35: #5d4b6f,
  40: #69577b,
  50: #83709a,
  60: #9e89b5,
  70: #baa4d1,
  80: #d6bfed,
  90: #f0dbff,
  95: #faedff,
  98: #fff7ff,
  99: #fffbff,
  100: #fff,
  secondary: (
    0: #000,
    10: #211a24,
    20: #372e3a,
    25: #423945,
    30: #4e4451,
    35: #5a505d,
    40: #665c69,
    50: #807482,
    60: #9a8e9d,
    70: #b6a8b8,
    80: #d2c3d4,
    90: #eedff0,
    95: #fcecff,
    98: #fff7ff,
    99: #fffbff,
    100: #fff,
  ),
  neutral: (
    0: #000,
    4: #100d12,
    6: #151217,
    10: #1e1a21,
    12: #221e25,
    17: #2d2930,
    20: #342f37,
    22: #38333b,
    24: #3d3840,
    25: #3f3a42,
    30: #4b454e,
    35: #57515a,
    40: #635d66,
    50: #7c757f,
    60: #968f99,
    70: #b1a9b4,
    80: #cdc4cf,
    87: #e1d8e3,
    90: #e9e0eb,
    92: #f0e7f2,
    94: #f6edf8,
    95: #f9effb,
    96: #fcf2fe,
    98: #fff7ff,
    99: #fffbff,
    100: #fff,
  ),
  neutral-variant: (
    0: #000,
    10: #201925,
    20: #362e3a,
    25: #413945,
    30: #4d4351,
    35: #594f5d,
    40: #655b69,
    50: #7f7483,
    60: #998d9d,
    70: #b5a8b8,
    80: #d1c3d4,
    90: #eedff0,
    95: #fcecff,
    98: #fff7ff,
    99: #fffbff,
    100: #fff,
  ),
  error: (
    0: #000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #fff,
  ),
);
