@if (selectable()) {
  <button mat-stroked-button type="button" [class]="chipClasses()" [disabled]="disabled()" (click)="select()">
    <ng-container [ngTemplateOutlet]="chipContent" />
  </button>
} @else {
  <mat-chip-set class="chip-button-set">
    <mat-chip [class]="chipClasses()">
      <ng-container [ngTemplateOutlet]="chipContent" />
    </mat-chip>
  </mat-chip-set>
}

<ng-template #chipContent>
  @if (icon()) {
    <mat-icon class="chip-button__icon" aria-hidden="true">{{ icon() }}</mat-icon>
  }

  <span class="chip-button__label">{{ label() }}</span>

  @if (badgeLabel()) {
    <span [class]="badgeClasses()">{{ badgeLabel() }}</span>
  }

  @if (metaLabel()) {
    <span class="chip-button__meta">{{ metaLabel() }}</span>
  }
</ng-template>
