<mat-toolbar
  class="app-navbar navbar__style-1"
  [class.navbar__style-1--dark]="themeService.isDark()"
  [class.navbar__style-1--light]="!themeService.isDark()">
  <div class="navbar__style-2"></div>
  <div class="navbar__style-3"></div>

  <div class="navbar__style-4">
    <a
      class="app-brand navbar__style-5"
      href="#hero"
      [class.navbar__style-5--dark]="themeService.isDark()"
      [class.navbar__style-5--light]="!themeService.isDark()">
      {{ brand }}
    </a>

    <nav
      aria-label="Primary navigation"
      class="app-nav-surface navbar__style-6"
      [class.navbar__style-6--dark]="themeService.isDark()"
      [class.navbar__style-6--light]="!themeService.isDark()">
      @for (link of links; track link.label) {
        <a
          mat-button
          class="app-nav-link navbar__style-7"
          [class.navbar__style-7--dark]="themeService.isDark()"
          [class.navbar__style-7--light]="!themeService.isDark()"
          [href]="link.href">
          {{ link.label }}
        </a>
      }
    </nav>

    <button
      mat-icon-button
      class="app-theme-toggle navbar__style-8"
      type="button"
      [class.navbar__style-8--dark]="themeService.isDark()"
      [class.navbar__style-8--light]="!themeService.isDark()"
      [attr.aria-label]="themeService.toggleLabel()"
      [matTooltip]="themeService.toggleLabel()"
      (click)="toggleTheme()">
      <mat-icon>{{ themeService.toggleIcon() }}</mat-icon>
    </button>

    <button
      mat-icon-button
      class="app-menu-toggle navbar__style-9"
      type="button"
      aria-label="Open navigation menu"
      [class.navbar__style-9--dark]="themeService.isDark()"
      [class.navbar__style-9--light]="!themeService.isDark()"
      [attr.aria-expanded]="isMobileMenuOpen()"
      (click)="openMobileMenu()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>

<app-mobile-navbar [brand]="brand" [links]="links" [isOpen]="isMobileMenuOpen()" (closed)="closeMobileMenu()" />
