<div class="group contact-link-card__style-1">
  <a
    class="contact-link-card__style-2"
    [href]="link().href"
    [attr.target]="link().external ? '_blank' : null"
    [attr.rel]="link().external ? 'noreferrer' : null">
    <p class="contact-link-card__style-3">{{ link().label }}</p>
    <p class="contact-link-card__style-4">
      {{ link().value }}
    </p>
  </a>

  <button
    type="button"
    class="contact-link-card__style-5"
    [attr.aria-label]="'Copy ' + link().label"
    (click)="copyRequested.emit(link())">
    <mat-icon class="contact-link-card__style-6" aria-hidden="true">
      {{ isCopied() ? 'check' : 'content_copy' }}
    </mat-icon>
  </button>
</div>
