<section class="under-construction__style-1">
  <div class="under-construction__style-2">
    <div class="under-construction__style-3"></div>
    <div class="under-construction__style-4"></div>
  </div>

  <div class="under-construction__style-5">
    <div class="under-construction__style-6">
      <div class="under-construction__style-7"></div>

      <span class="under-construction__style-8"> WIP </span>

      <div class="under-construction__style-9">
        <mat-icon class="under-construction__style-10"> construction </mat-icon>
      </div>

      <p class="under-construction__style-11">Work in progress</p>

      <h2 class="under-construction__style-12">{{ sectionName() }} is under construction</h2>

      <p class="under-construction__style-13">
        I am still working on the {{ sectionName() }} section. More content will be added soon.
      </p>
    </div>
  </div>
</section>
