@use './styles/theme' as app-theme;

html {
  height: 100%;

  @include app-theme.app-theme(dark);

  color-scheme: dark;
}

html.app-theme-dark {
  color-scheme: dark;

  @include app-theme.app-theme(dark);
}

html.app-theme-light {
  color-scheme: light;

  @include app-theme.app-theme(light);
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  height: 100%;
  margin: 0;
}
