<app-hero #portfolioSection data-section-id="hero" />
<app-experience #portfolioSection data-section-id="experience" />
<app-skills #portfolioSection data-section-id="skills" />
<app-projects #portfolioSection data-section-id="projects" />
<app-case-study #portfolioSection data-section-id="case-study" />
<app-education #portfolioSection data-section-id="education" />
<app-about-me #portfolioSection data-section-id="about" />
<app-working-on #portfolioSection data-section-id="working-on" />
<app-contact #portfolioSection data-section-id="contact" />