<article class="group certificate-card__style-1">
  <div class="certificate-card__style-2"></div>

  <div class="certificate-card__style-3">
    <div class="certificate-card__style-4">
      <mat-icon>{{ certificate().icon }}</mat-icon>
    </div>

    <div class="certificate-card__style-5">
      <h3 class="certificate-card__style-6">
        {{ certificate().school }}
      </h3>

      <p class="certificate-card__style-7">
        {{ certificate().title }}
      </p>

      <p class="certificate-card__style-8">{{ certificate().location }} - {{ certificate().period }}</p>

      <div class="certificate-card__style-9">
        @for (skill of certificate().skills; track skill) {
          <app-shared-chip-button size="xs" variant="slate" [label]="skill" />
        }
      </div>
    </div>
  </div>
</article>
