@for (group of groups(); track group.title) {
  <div>
    <p class="hero-skills__label">
      {{ group.title }}
    </p>

    <div class="hero-skills__list">
      @for (skill of group.skills; track skill.label) {
        <button
          mat-icon-button
          type="button"
          matTooltipPosition="above"
          [matTooltip]="skill.label"
          [attr.aria-label]="skill.label">
          <mat-icon aria-hidden="true" [svgIcon]="skill.icon" />
        </button>
      }
    </div>
  </div>
}
