<article class="group education-card__style-1">
  <div class="education-card__style-2"></div>

  <span class="education-card__style-3"> 0{{ index() + 1 }} </span>

  <div class="education-card__style-4">
    <div class="education-card__style-5">
      <div class="education-card__style-6">
        <div class="education-card__style-7">
          <mat-icon>{{ education().icon }}</mat-icon>
        </div>

        <div class="education-card__style-8">
          <h3 class="education-card__style-9">
            {{ education().degree }}
          </h3>

          <p class="education-card__style-10">{{ education().school }} - {{ education().location }}</p>
        </div>
      </div>
    </div>

    <div class="education-card__style-11">
      <app-shared-chip-button size="xs" variant="cyan" [label]="education().grade" />

      <app-shared-chip-button size="xs" variant="slate" [label]="education().period" />
    </div>
  </div>

  <p class="education-card__style-12">
    {{ education().description }}
  </p>

  <div class="education-card__style-13">
    @for (skill of education().skills; track skill.name) {
      <app-shared-chip-button size="sm" variant="cyan" [icon]="skill.icon" [label]="skill.name" />
    }
  </div>

  <ul class="education-card__style-14">
    @for (highlight of education().highlights; track highlight) {
      <li class="education-card__style-15">
        <span class="education-card__style-16"></span>
        <span>{{ highlight }}</span>
      </li>
    }
  </ul>
</article>
